

button { font-size:1.8em; }
#content { padding:30px; background:#eeeeee;  height:400px; }
.columns{
  bottom:0px;right:0px; display: block;
  position: absolute;
  overflow: hidden;
}
.container{
  margin:1rem;
}
