<div class="container">
<h1>{{title}}</h1>
<h1>{{title}}</h1>

<!-- <p>content {{aPerson.name}}
{{aPerson.pwd}}from app</p>
<button (click)="snack()">Check</button> -->


<!--
Animation Test
<div class="row">-->

  <!--<div class="columns">-->

    <!--<div id="content" [@focusPanel]="state">-->
      <!--<button (click)="toggleMove()">Press me for animation</button>-->
      <!--Look at me animate</div>-->
  <!--</div>-->
<!--</div>-->

<h3>Introduction</h3>
<p>With the recent announcement from corporate notification, our beloved long-history shuttle service will be officially discontinued
  by April 1st. While management made the decision with many reasonable concerns on the corporate level, as an individual who enjoys
  the convenience and flexibility provided by FINRA shuttle, I couldn't stop missing it.</p>
<p>So I initiated a project named "FINRA Carpool" aiming at connecting FINRA employees by their geo location and facilitates matching
  individuals for ride share with a group of FINRA developers.</p>

<h3>Highlight</h3>
<p>
  <strong>Money Saving/Making: </strong>
 designed to allow those employees relying on public transportation to find their coworkers living nearby to ride with,
  and also offers opportunities for employees with vehicle to reduce their daily commuting cost, or even make some pocket money.</p>

<p><strong>Free: </strong>Our goal is to provide convenience for our dearest coworkers, so the platform is free to use, no platform premium would
  be charged.</p>

<p><strong>Go Green:</strong> Allow FINRA to increase its carpooling population and reduce vehicle-related carbon emissions.</p>
<p>
  <strong>Data Security:</strong> Your address and other data would be stored and maintained inside FINRA network, people outside
  FINRA network will not have access to it.</p>

<h3>How it works?</h3>

<p>If you are willing to participate, simply enter your name(alias), role (driver or rider), daily commute schedule, expected commuting cost on daily basis, contact method, other preferences and address. We will drop a pin on map based on your the address you provided and other people can reach out to you when they are looking for rides or have a rides to offer.

You may also look up people who are looking for rides or offering rides through this platform.</p>

</div>
