
  <header class="header header-6">
    <div class="branding">
        <clr-dropdown>
            <div class="header-triangle">
            <button class="switch" clrDropdownTrigger style="color:white;padding-left:20px;">
                FINRA Carpool
                <clr-icon shape="caret down"></clr-icon>
            </button>
            </div>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <label class="dropdown-header">Dropdown header</label>
                <button type="button" clrDropdownItem>Action 1</button>
                <button type="button" disabled clrDropdownItem>Disabled Action</button>
                <div class="dropdown-divider"></div>
                <clr-dropdown>
                    <button type="button" clrDropdownTrigger>Link 1</button>
                    <clr-dropdown-menu>
                        <button type="button" clrDropdownItem>Foo</button>
                        <clr-dropdown>
                            <button type="button" clrDropdownTrigger>Bar</button>
                            <clr-dropdown-menu clrPosition="left-top">
                                <button type="button" clrDropdownItem>Baz</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <button type="button" clrDropdownItem>Link 2</button>
            </clr-dropdown-menu>
        </clr-dropdown> 
    
    <!-- <div class="header-triangle" style="left:50px; margin-right:80px;">
        <div class="switch">
          <a href="javascript://">FINRA Carpool
          <i class="fa fa-caret-down"></i></a>
        </div>
      </div> -->
    </div>
      
    <div class="header-nav" >
      <!--<a href="" class="nav-link">-->
        <!--<span class="nav-text">Home</span>-->
      <!--</a>-->
      <!--<a   href="/add" class="nav-link active">-->
        <!--<span class="nav-text">Add</span>-->
      <!--</a>-->
      <span routerLinkActive="active current">
      <a  routerLink="" class="nav-link">
        <span class="nav-text">Home</span>
      </a>
      </span>
      <span routerLinkActive="active current">
      <a  routerLink="/add" class="nav-link">
        <span class="nav-text">Add</span>
      </a>
      </span>
      <span routerLinkActive="active current">
          <a  routerLink="/about" class="nav-link">
            <span class="nav-text">About</span>
          </a>
      </span>
      
    </div>
    
  </header>

