
  <header class="header header-6">
    <div class="branding">
      <a href="">LOGO</a>
    </div>
    <div class="header-nav" >
      <!--<a href="" class="nav-link">-->
        <!--<span class="nav-text">Home</span>-->
      <!--</a>-->
      <!--<a   href="/add" class="nav-link active">-->
        <!--<span class="nav-text">Add</span>-->
      <!--</a>-->
      <span routerLinkActive="active current">
      <a  routerLink="" class="nav-link">
        <span class="nav-text">Home</span>
      </a>
      </span>
      <span routerLinkActive="active current">
      <a  routerLink="/add" class="nav-link">
        <span class="nav-text">Add</span>
      </a>
      </span>
    </div>
  </header>

