<h1>{{ title }}</h1>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng">

    <agm-info-window>
      <strong>{{marker.userName}}</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>


<app-user-address-manage (messageEvent)="receiveMessage($event)"></app-user-address-manage>

<button (click)="showAddresses()" class="button">Show Addresses(DEBUG)</button>

